@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato/Lato-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dreams-2020-chart {
  font-family: "Lato", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dreams-2020-chart h3,
.dreams-2020-chart h4,
.dreams-2020-chart h5 {
  text-align: center;
}

.dreams-2020-chart .recharts-tooltip-wrapper {
  font-family: "Lato", Arial, sans-serif;
  font-size: 13px !important;
  text-align: left;
}

.recharts-default-tooltip ul > li {
  margin: 0px;
}
